@import "/src/dist/scss/variables.scss";

:host{
  .contact-form-card{
    margin-top: 10%;
    width: 450px;
    height: 700px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 5px 8px 12px #888888;

    .button-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .buttons{
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      border: none;
      border-radius: 4px;
      height: 55px;
    }

    .button-save {
        background-color: $button-color-background;
        color: $button-font-color;
    }

    .button-disabled {
      background-color: $button-disabled-color-background;
    }

    .button-cancel:hover{
      background-color: $button-background-cancel-hover;
      color: $button-font-cancel-hover;
    }
  }

  h1{
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .form-section{
    //padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .item-form-section{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input {
      padding: 5px 12px;
      height: 55px;
      border: none;
      border-radius: 4px;
      background-color: $third-color;
      font-color: $fourth-color;
      font-size: 16px;
    }

    & .item-label{
      text-align: left;
      font-size: 16px;
    }

    .alert-message{
      color: $danger;
      font-size: 12px;
      height: 12px;
    }
  }

}
