@import "/src/dist/scss/variables";

:host{
 .contact-list-container{
   margin: 40px auto;
   padding-bottom: 60px;
   width: 70%;
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
 }

  .error-search-group{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      font-size: 35px;
      font-weight: 300;
      color:  $sixth-color;
    }

  }

  .icon-error-search-group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & .person-contact-icon {
      position: absolute;
      bottom: 40px;
      width: 70px;
      height: 70px;
      fill: $sixth-color
    }

    & .magnifying-glass-icon{
      position: absolute;
      bottom: 75px;
      left: -60px;
      width: 50px;
      height: 50px;
      -webkit-transform: scaleX(-1);
    }

    & .search-error-circle{
      position: absolute;
      bottom: 25px;
      left: 15px;
      width: 35px;
      height: 35px;
      fill: $danger;


    }
  }

}
